@page "/chathub"

@using Microsoft.AspNetCore.SignalR.Client
@using BlazorServerApp_Chess.Data

@using DataAccessLibrary.Models;

@inject NavigationManager NavigationManager
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject IConnectionManager connectionManager


@implements IDisposable


<div>
    <label>
        <a>@currentUserName</a>
    </label>
</div>


<p>
    <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">
        <span class="oi oi-person"></span> Users <span class="badge badge-primary badge-pill">@usersConnectedCount</span>
    </button>
</p>

<div class="row">
    <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample2">
            <div class="col-6 card card-body">
                @foreach (var user in connectionManager.OnlineUsers)
                {
                    <a class="btn-dark" href="/profile/@user">@user</a>
                }
            </div>
        </div>
    </div>
</div>

<div>
    <div>

    </div>
    <ul id="messagesList">
        @foreach (var message in messages)
        {
            <li>@message</li>
        }
    </ul>
    <div class="form-group">
        <label>
            Message:
            <input @bind="messageInput" size="50" @onkeyup="(e => OnClickEventTest(e))" />
        </label>
    </div>
</div>



@code {

    private HubConnection hubConnection;

    private List<string> messages = new List<string>();
    private List<UserModel> users;

    private string messageInput;
    private string currentUserName;

    private int usersConnectedCount = 0;

    public bool IsConnected =>
        hubConnection.State == HubConnectionState.Connected;

    protected override async Task OnInitializedAsync()
    {

        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/chathub"))
            .Build();

        hubConnection.On<string, string>("ReceiveMessage", (user, message) =>
        {
            var time = DateTime.Now.ToShortTimeString();
            var encodedMsg = $"{time} >> {user} > {message}";
            messages.Add(encodedMsg);
            StateHasChanged();
        });

        hubConnection.On<int>("ReceiveUsersCount", (count) =>
        {
            usersConnectedCount = count;
            StateHasChanged();
        });

        await hubConnection.StartAsync();

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            currentUserName = await sessionStorage.GetItemAsync<string>("userName");

            if (!connectionManager.OnlineUsers.Contains(currentUserName))
            {
                connectionManager.AddConnection(currentUserName, hubConnection.ConnectionId);
            }
            else
            {
                connectionManager.UpdateConnectionId(currentUserName, hubConnection.ConnectionId);
            }

            await SendGreetings();
            usersConnectedCount = connectionManager.OnlineUsers.Count();
        }
    }

    protected async Task OnClickEventTest(KeyboardEventArgs k)
    {
        if (k.Key == "Enter")
        {
            await Task.FromResult(hubConnection.SendAsync("SendMessage", currentUserName, messageInput));
            messageInput = "";
        }
    }

    Task Send() =>
        hubConnection.SendAsync("SendMessage", currentUserName, messageInput);

    Task SendGreetings() =>
        hubConnection.SendAsync("SendMessageToOthers", currentUserName);

    public void Dispose()
    {
        hubConnection.SendAsync("SendMessage", currentUserName, $"{currentUserName} left the chat!");
        connectionManager.RemoveConnection(hubConnection.ConnectionId);
        StateHasChanged();
        _ = hubConnection.DisposeAsync();
    }
}