@page "/"

<h1>Chess!</h1>


<SurveyPrompt Title="How is Blazor working for you?" />


<AuthorizeView>
    <Authorized>
        <p>Welcome, @context.User.Identity.Name!</p>
    </Authorized>
    <NotAuthorized>
        <p>You are not signed in!</p>
    </NotAuthorized>
</AuthorizeView>