@layout CenteredCardLayout

@page "/"

@using BlazorServerApp_Chess.Data;
@using DataAccessLibrary.Models;
@using DataAccessLibrary; 
@using BlazorServerApp_Chess.Components;

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject IUserData _Usersdb


<EditForm Model="@_userModel" OnValidSubmit="@ValidateUser">

    <div class="col-12 row">
        <h3 style="font-weight:bold; color:brown">Blazor Chess Login</h3>
    </div>
    <div>
        <br />
    </div>

    @if (LoginNotSuccessfull)
    {
        <div class="col-12 row">
            <span class="col-12"> </span>
            <CustomAlertComponent Message="Password or username wasn't correct!"></CustomAlertComponent>
        </div>
    }
    <div class="col-12 row">
        <input class="form-control" @bind="_userModel.UserName" placeholder="username" />
    </div>
    <div>
        <br />
    </div>
    <div class="col-12 row">
        <input type="password" class="form-control" @bind="_userModel.Password" placeholder="Password" />
    </div>
    <div>
        <br />
    </div>
    <div class="col-12 row">
        <span class="col-12"></span>
        <button type="submit" class="form-control col-6 btn btn-primary" value="Login">Log in</button>
        <a class="btn btn-link" href="register">Register</a>
    </div>
</EditForm>


@code {

    private UserModel _userModel;
    private List<UserModel> users;
    private bool LoginNotSuccessfull = false;

    protected override async Task OnInitializedAsync()
    {
        _userModel = new UserModel();
        users = await _Usersdb.GetUsers();
    }

    private async Task<bool> ValidateUser()
    {

        //add checks to see if user exists in database etc..
        foreach(var user in users)
        {
            if(user.UserName == _userModel.UserName && user.Password == _userModel.Password)
            {
                ((CustomAuthenticationStateProvider)AuthenticationStateProvider).MarkUserAsAuthenticated(_userModel.UserName);
                NavigationManager.NavigateTo("/index");

                await sessionStorage.SetItemAsync("userName", _userModel.UserName);
                return await Task.FromResult(true);
            }
        }

        LoginNotSuccessfull = true;
        _userModel = new UserModel();
        return await Task.FromResult(false);


    }

}
