@layout CenteredCardLayout

@page "/"

@using BlazorServerApp_Chess.Data;
@using DataAccessLibrary.Models;

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<EditForm Model="@_userModel" OnValidSubmit="@ValidateUser">
    <div class="col-12 row">
        <h3 style="font-weight:bold; color:brown">Blazor Chess Login</h3>
    </div>
    <div>
        <br />
    </div>
    <div class="col-12 row">
        <input class="form-control" @bind="_userModel.UserName" placeholder="username" />
    </div>
    <div>
        <br />
    </div>
    <div class="col-12 row">
        <input type="password" class="form-control" @bind="_userModel.Password" placeholder="Password" />
    </div>
    <div>
        <br />
    </div>
    <div class="col-12 row">
        <span class="col-12"></span>
        <button type="submit" class="form-control col-6 btn btn-primary" value="Login">Log in</button>
        <a class="btn btn-link" href="register">Register</a>
    </div>
</EditForm>


@code {

    private UserModel _userModel;

    protected override Task OnInitializedAsync()
    {
        _userModel = new UserModel();
        return base.OnInitializedAsync();
    }

    private async Task<bool> ValidateUser()
    {

        //add checks to see if user exists in database etc..

        ((CustomAuthenticationStateProvider)AuthenticationStateProvider).MarkUserAsAuthenticated(_userModel.UserName);
        NavigationManager.NavigateTo("/index");

        await sessionStorage.SetItemAsync("userName", _userModel.UserName);

        return await Task.FromResult(true);
    }

}
