
@page "/profile"
@page "/profile/{Username}"


<h3>Profile</h3>
<p>@Username</p>


@code {
    [Parameter]
    public string Username { get; set; }

    protected override void OnInitialized()
    {
        Username = Username ?? "Hmm";
    }

}
