@layout LoginLayout
@inherits LayoutComponentBase



<center>
    <div class="col-8 card">
        <div class="col-12 row">
            <div class="col-12 row">
                <p>&nbsp;</p>
            </div>
            <div class="col-12 row">
                <div class="col-6">
                    <img src="/css/images/chess3.svg" class="img-fluid" alt="image" style="opacity: 0.2;" />
                </div>
                <div class="col-6">
                    @Body
                </div>
            </div>
            <div class="col-12 row">
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
</center>

