@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="top-row px-4">
                <a href="logout">Logout</a>
                <a href="profile">Profile</a>
            </div>

            <div class="content px-4">
                @Body
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <center>
            <div>
                <div class="col-8 card">
                    <a>Please login/register to continue..</a>
                    <a class="btn btn-primary" href="/">Login</a>
                    <br />
                    <a class="btn btn-primary" href="/register">Register</a>

                </div>
            </div>
        </center>
        
    </NotAuthorized>
    
</AuthorizeView>



